<div id="lists">
  <% if @lists.any? %>
    <h2>Your lists</h2>
    <ul>
      <% @lists.reverse_each do |list| %>
      <li class="grid-x">
        <%= link_to format_list_name(list), list_path(list), class: "cell" %>
        <%= link_to list_path(list), method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: "cell" do %>
          <i class="icon fi-trash"></i>
        <% end %>
      </li>
      <% end %>
    </ul>
  <% else %>
    <p>No lists have yet been created.</p>
  <% end %>
</div>

<%= link_to lists_path, method: :post, class: "nav-link" do %>
  Create new list
  <i class="icon fi-plus"></i>
<% end %>
