<h1>Let's go shopping!</h1>

<% if @lists.any? %>
  <h2>Existing lists</h2>
  <ul>
    <% @lists.reverse_each do |list| %>
      <li>
        <%= link_to format_list_name(list), list_path(list) %>
        <%= link_to 'Destroy', list_path(list),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No lists have yet been created.</p>
<% end %>

<%= link_to 'Create a new list', new_list_path %>
