<div id="list">
  <% if @lists.any? %>
    <h3>Your lists</h3>
    <ul>
      <% @lists.reverse_each do |list| %>
      <li class="row">
        <%= link_to format_list_name(list), list_path(list), class: "columns small-10" %>
        <%= link_to list_path(list),
            method: :delete,
            data: { confirm: 'Are you sure?' },
            remote: true,
            class: "columns small-2" do %>
          <i class="fi-trash"></i>
        <% end %>
      </li>
      <% end %>
    </ul>
  <% else %>
    <p>No lists have yet been created.</p>
  <% end %>
</div>

<%= link_to lists_path, method: :post, class: "button" do %>
  Create new list
  <i class="icon-right fi-plus"></i>
<% end %>
