<div class="js-editable-title">
  <div class="js-list-title">
    <%= link_to shopping_list.name, shopping_list_path(shopping_list) %>
    <i class="js-edit-list-title icon-right fi-pencil"></i>
  </div>

  <%= form_with model: shopping_list, method: :put, class: "js-list-title-form hidden" do |f| %>
  <div class="row">
    <div class="columns small-6">
      <%= f.text_field :name, placeholder: shopping_list.name, value: "", required: true %>
    </div>
    <div class="columns small-2">
      <%= button_tag type: 'submit', class: 'js-submit-form button tiny' do %>
      <i class="icon-right fi-check"></i>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
