/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 //= require foundation_and_overrides

 */
@import 'foundation-icons';
@import 'foundation_and_overrides';
@import 'colours';

/* BASICS */

body {
  background-color: $boost-red;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

#container {
  margin: 0 auto;

  @media #{$medium-up} {
    max-width: 50%;
  }

  @media #{$large-up} {
    max-width: 40%;
  }
}

/* HEADER */

header {
  #boost-logo {
    margin-top: 2rem;
  }

  .heading {
    font-family: 'Oleo Script', serif;
    font-weight: lighter;
  }
}

/* GLOBAL HELPERS */

.hidden {
  display: none;
}

.icon-left {
  margin-right: 0.5rem;
}

.icon-right {
  margin-left: 0.5rem;
}

/* LISTS */

ul {
  list-style: none;
  margin: 1rem;
}

#list li {
  border: 1px solid white;
  border-radius: 5px;
  padding: 0.5rem;

  &.row {
    margin: 0.5rem auto;
  }

  i {
    color: black;
  }
}
